@font-face {
  font-family: "Avengers";
  src: url("../Media/Fonts/Avengers.TTF");
}
@font-face {
  font-family: "CaptMarvel";
  src: url("../Media/Fonts/CaptMarvel.TTF");
}
@font-face {
  font-family: "Disassembled";
  src: url("../Media/Fonts/Disassembled.TTF");
}
@font-face {
  font-family: "Avenged";
  src: url("../Media/Fonts/Avenged.ttf");
}
@font-face {
  font-family: "xmen";
  src: url("../Media/Fonts/xmen.ttf");
}
@font-face {
  font-family: "HA";
  src: url("../Media/Fonts/HA.ttf");
}
@font-face {
  font-family: "HA2";
  src: url("../Media/Fonts/HA.ttf2");
}
@font-face {
  font-family: "BP";
  src: url("../Media/Fonts/BP.ttf");
}

:root {
  max-height: 1200px;
  max-width: 1920px;

  @media all and (min-width: 1024px) and (max-width: 1280px) { }
 
  @media all and (min-width: 768px) and (max-width: 1024px) { }
   
  @media all and (min-width: 480px) and (max-width: 768px) { }
   
  @media all and (max-width: 480px) { }
 
}
html {
  box-sizing: border-box;
}
body {
  background-image: url("../Media/Photos/multivers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;


  
}
 /* Navbar section */
  
 .nav {
  top: 20px; 
  width: 100%;
  position: fixed;
  line-height: 50px;
  text-align: center;
@media all and (min-width: 768px) and (max-width: 1024px) { 
  line-height: 40px;
}
@media all and (min-width: 480px) and (max-width: 768px) { 
height: auto;
line-height: 20px;
}
@media all and (max-width: 480px) {
  height: auto;
  line-height: 10;
 }
}
.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 1rem;
  @media all and (min-width: 1024px) and (max-width: 1280px) { }
 
@media all and (min-width: 768px) and (max-width: 1024px) { }
 
@media all and (min-width: 480px) and (max-width: 768px) { }
 
@media all and (max-width: 480px) { }
  
}

.nav div.logo img:hover {
  width: 110%;
  transition: .45s ease-in-out; 

}

.nav div.main_list {
  height: 65px;
  float: right;
  @media all and (min-width: 1024px) and (max-width: 1280px) { 
    height: 55px;
  }
 
@media all and (min-width: 768px) and (max-width: 1024px) { 
  height: 40px;
}
 
@media all and (min-width: 480px) and (max-width: 768px) { 
  height: 20px;
}
 
@media all and (max-width: 480px) { 
  height: 10px;

}
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 2rem;
  padding-left: 1;
}

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding-left: 4rem;
  @media all and (min-width: 480px) and (max-width: 1280px) {
    padding-left: auto;
   }
 
}

.nav div.main_list ul li a {
  font-family: "Disassembled";
  color: #fff;
  line-height: 65px;
  font-size: 1.2rem;
  font-style: oblique;
  text-decoration: none;
  @media all and (min-width: 1024px) and (max-width: 1280px) {
    font-size: 0.8rem;
   }
 
@media all and (min-width: 768px) and (max-width: 1024px) { 
  font-size: 0.6rem;
}
 
@media all and (min-width: 480px) and (max-width: 768px) { 
  padding-left: 0.5rem;
}
 
@media all and (max-width: 480px) { 
  padding-left: 0.25rem;
}
 
  
}

.nav div.main_list ul li a:hover {
  color: #F0131E;
  font-size: 1.5rem;
  transition: .45s ease-in-out; 
}
  /* }
$CAROUSEL

#carousel_container {
  top: 10rem;
  box-sizing: content-box;
  max-width: 100vw;
  max-height: 100vh;
  object-fit: cover;
  overflow: hidden;
  @media all and (min-width: 480px) and (max-width: 1280px) { 
    position: relative;
    
  }

 
}
.carousel {
  padding-top: 150px;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  max-height: 100vh;
  position: absolute;
  overflow: hidden;
@media all and (min-width: 1024px) and (max-width: 1280px) { }
 
@media all and (min-width: 768px) and (max-width: 1024px) { }
 
@media all and (min-width: 480px) and (max-width: 768px) { }
 
@media all and (max-width: 480px) { }
 

}
.panes {
  position: relative;
  width: 500%; /* Number of panes * 100% 
  height: 50%;
  max-height: 100%;
  -webkit-animation: carousel 30s infinite;
  -moz-animation: carousel 30s infinite;
  animation: carousel 30s infinite;
  @media all and (min-width: 1024px) and (max-width: 1280px) {
    height: auto;
    padding-bottom: 50px;
   }
  
 

.panes > li {
  position: relative;
  float: right;
  width: 20%; /* 100 / number of panes */
  /* height: 100%;
  margin-bottom: 12rem;
  @media all and (min-width: 1024px) and (max-width: 1280px) { 
  margin-bottom: auto;}
@media all and (min-width: 768px) and (max-width: 1024px) { 
margin-bottom: auto;}
@media all and (min-width: 480px) and (max-width: 768px) { 
margin-bottom: auto;}
@media all and (max-width: 480px) { }
 
}
.carousel img {
  /* position: absolute; 
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 0.75rem;
  @media all and (min-width: 1024px) and (max-width: 1280px) {
    padding: .5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
   }
 
@media all and (min-width: 768px) and (max-width: 1024px) { 
  padding: 0.7rem;
  width: fit-content;
  height: fit-content;
}
 
@media all and (min-width: 480px) and (max-width: 768px) { 
  padding: 0.5rem;
  width: fit-content;
  height: fit-content; 
}
 
@media all and (max-width: 480px) { 
  padding: 0.25rem;
  width: fit-content;
  height: fit-content;
}
  
}
.carousel h2 {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  fill-opacity: 0.1;
  width: auto;
  height: 100%;
  @media all and (min-width: 1024px) and (max-width: 1280px) { }
 
@media all and (min-width: 768px) and (max-width: 1024px) { }
 
@media all and (min-width: 480px) and (max-width: 768px) { }
 
@media all and (max-width: 480px) { }
 
}

@-moz-keyframes carousel {
  0% {
    left: 0;
  }
  11% {
    left: 0;
  }
  12.5% {
    left: -100%;
  }
  23.5% {
    left: -100%;
  }
  25% {
    left: -100%;
  }
  36% {
    left: -200%;
  }
  37.5% {
    left: -200%;
  }
  48.5% {
    left: -200%;
  }
  50% {
    left: -300%;
  }
  61% {
    left: -300%;
  }
  73.5% {
    left: -300%;
  }
  75% {
    left: -400%;
  }
  86% {
    left: -400%;
  }
  87.5% {
    left: -400%;
  }
  98.5% {
    left: 0%;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes carousel {
  0% {
    left: 0;
  }
  11% {
    left: 0;
  }
  12.5% {
    left: -100%;
  }
  23.5% {
    left: -100%;
  }
  25% {
    left: -100%;
  }
  36% {
    left: -200%;
  }
  37.5% {
    left: -200%;
  }
  48.5% {
    left: -200%;
  }
  50% {
    left: -300%;
  }
  61% {
    left: -300%;
  }
  73.5% {
    left: -300%;
  }
  75% {
    left: -400%;
  }
  86% {
    left: -400%;
  }
  87.5% {
    left: -400%;
  }
  98.5% {
    left: 0%;
  }
  100% {
    left: 0;
  }
}
@keyframes carousel {
  0% {
    left: 0;
  }
  11% {
    left: 0;
  }
  12.5% {
    left: -100%;
  }
  23.5% {
    left: -100%;
  }
  25% {
    left: -100%;
  }
  36% {
    left: -200%;
  }
  37.5% {
    left: -200%;
  }
  48.5% {
    left: -200%;
  }
  50% {
    left: -300%;
  }
  61% {
    left: -300%;
  }
  73.5% {
    left: -300%;
  }
  75% {
    left: -400%;
  }
  86% {
    left: -400%;
  }
  87.5% {
    left: -400%;
  }
  98.5% {
    left: 0%;
  }
  100% {
    left: 0;
  }
}

.content {
  position: absolute;
  right: 0%;
  left: 75%;
  bottom: 0%;
  height: 111px;
  width: 25%;
  padding-left: 0%;
  padding-top: 34%;
  padding-right: 6%;
  top: 20%;
  /* background: #000; Old browsers 
  background: -moz-linear-gradient(130deg, #050202 10%, #010101 62%, #000 80%);
  /* FF3.6+ 
  background: -webkit-gradient(130deg, #050202 10%, #010101 46%, #000 100%);
  /* Chrome,Safari4+ 
  background: -webkit-linear-gradient(
    130deg,
    #050202 10%,
    #010101 46%,
    #000 100%
  );
  /* Chrome10+,Safari5.1+ 
  background: -o-linear-gradient(130deg, #050202 10%, #010101 46%, #000 100%);
  /* Opera 11.10+ 
  background: -ms-linear-gradient(130deg, #050202 10%, #010101 46%, #000 100%);
  /* IE10+ 
  background: linear-gradient(
    100deg,
    #050202 10%,
    #010101 46%,
    #000 100%
  ); /* W3C 
  @media all and (min-width: 480px) and (max-width: 1280px) { 
    height: fit-content
    width: fit-content;
    padding: 1;
    margin: 1;
    display: flex;
    flex-direction:column;
  }
}
.content h5 {
  font: 53px CaptMarvel;
  position: absolute;
  justify-content: center;
  padding: 3%;
  color: #fff;
  /* padding-top: 5em; 
  bottom: 5.5rem;

@media all and (min-width: 1024px) and (max-width: 1280px) {
  font-size: 40px;
  position:relative;
 }
 
@media all and (min-width: 768px) and (max-width: 1024px) {
  font-size: 30px;
 }
 
@media all and (min-width: 480px) and (max-width: 768px) { 
  font-size:20px;
}
 
@media all and (max-width: 480px) {
  font-size: 10px;
 } */
 
/* 
#head{
  bottom: 16.5rem;
  font: 70px CaptMarvel;
  @media all and (min-width: 1024px) and (max-width: 1280px) { 
    margin-bottom: auto;}
  @media all and (min-width: 768px) and (max-width: 1024px) { 
  margin-bottom: auto;}
  @media all and (min-width: 480px) and (max-width: 768px) { 
  margin-bottom: auto;}
  @media all and (max-width: 480px) { }
}
.flex_container{
  box-sizing: content-box;
  display: grid;
  max-width: 1300;
  max-height: 650px;
  background: #000;
    
    background-size: cover;
}

  #narr_section{
      background: #000;
    background-size: cover;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    column-fill: auto;
    justify-content: center;
    align-items: center;
  

     padding: 1% 3%;
     @media all and (min-width: 1024px) and (max-width: 1280px) { 
       padding: 4% 0% 0% 4%;
     }
 
     @media all and (min-width: 768px) and (max-width: 1024px) { 
     padding: 3% 0% 0% 3%;
    }
     @media all and (min-width: 480px) and (max-width: 768px) { 
     padding: 2% 0% 0% 2%;  }
     @media all and (max-width: 480px) { 
      padding: 1% 0% 0% 1%;  }
  }

  
  .narr_one{
    
    position: relative;
    background-image: url('../Media/Photos/thor.hulk.png');
    background-size: cover;
    border: solid #010101;
    border-width:  1.35rem 1rem 1.3rem 1rem;
    /* padding: 9rem 3rem; 
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    column-count: 3;
    column-fill: auto;
    background-color: #010101;
    padding: .15rem 0rem 0rem .15rem;
    width: 1300px;
    height: 490px;
     @media all and (min-width: 1024px) and (max-width: 1280px) { }
 
  @media all and (min-width: 768px) and (max-width: 1024px) { }
   
  @media all and (min-width: 480px) and (max-width: 768px) { }
   
  @media all and (max-width: 480px) { }
  }
  
  @keyframes head{
    from { background-image: url('../Media/Photos/thor.hulk.png');
      font-family: Avenged;
      opacity: 0.85;
      font-size: 70px; 
    }
    to {
      background-image: url('../Media/Photos/valkyrieSm.png');
    width: 350px; 
    height: 450px;
  font-family: CaptMarvel;
  font-size: 50px;}
  
  }
  h1{
    position: absolute;
    display: grid;
    width: 550px;
    height: 450px;
    border: solid #020202;
    color:#fff;
    background-color: #000;
    border-width: 1.25rem 1rem 1rem .25rem;
    padding: .25rem 0rem 0rem .2rem;
    font-family: CaptMarvel;
    font-size: 50px;
    animation-name: head;
    animation-duration: 30s;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
    
  }
  
  @keyframes loki{
    from { background-image: url('../Media/Photos/thor.hulk.png');
      font-family: CaptMarvel;
      font-size: 8px;
    width: 400px; }
    to {
      background-image: url('../Media/Photos/lokiSm.png');
      font-size: 16px;
      width: 650px; 
     height: 100%;  }
  }
    
    p{
      
      position: absolute;
      display: grid;
      align-content: center;
    width: 650px;
    height: 105%;
    border: solid #020202;
    background-color: #000;
    border-width: 1.25rem 1.2rem 1.25rem 1.2rem;
    padding: .25rem 0rem 0rem .2rem;
  
    font-weight: 600;
    color: white;
    font-size: 20px;  
    font-family: CaptMarvel;
    animation-name: loki;
    animation-duration: 20s;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;}

    button{
      border-radius: 54%;
      padding: 10px 21px;
      font-style: oblique;
      font-size: 1rem;
      font-weight: 700;
      color: white;
      height: 100px;
      width: 200px;
      right: 4.0rem;
      bottom: -14%;
      align-items: center;
      opacity: 0.9;
      box-shadow: .5px 2px .5px 1px white;
      position: absolute;
      background: -webkit-linear-gradient(
        130deg,
        #000 12%,
        #010101 46%,
        #020202 100%);
        border: solid .25rem #FFF;
        transition-duration: 0.3s;
        
    }
    #play_button:hover{
      background-color: #020202;
      color:white;
      box-shadow: 1px 2px 1px 1px white;
      transform: scale(2,2);
      border: solid .25rem white; 
      font-family: BP;
    
    } */
    #break_for_animation{
      padding-top: 100px; 
      display: flex;
      position: relative;
      max-width: 1400px;
      max-height: 1000px;
    }
    .jumbotron{
      position: relative;
      display: flex;
      min-height: 100vh;
      min-width: 100vw;
      height: 100%;
      width: 100%;
    
  
    }
    
     @keyframes defeat{ 
    
        from{
          background-image:url('../Media/Photos/bpmonger.png');
         font-size: 2rem;
         width: 1000px;
         height: 750px;
         opacity: .92;
        }
    
      to {
        background-image: url('../Media/Photos/zomcap.png');
  justify-content: center;
    background-color: 
    #020202;
    font-size: 5rem;
  }
      
}
    .contain{
          
       /* position: relative; */
       width: 1300px;
       height: 750px;
       border: 1em black solid;
       background:#020202;
       background-image:url('../Media/Photos/bpmonger.png');
       animation-name:defeat;
       animation-duration: 15s;
       animation-iteration-count: 1;
       animation-fill-mode: forwards;
       background-position: fixed;
       font-family: Disassembled;
    
  
  } 
      .lead{
        font-family: CaptMarvel;
        font-size: 2.1rem;
        padding: 5rem;
        color: white;
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
      }
      
      .display-4{
        position: relative;
        opacity: 0.9;
        align-items: center;
        padding: 10rem 5rem 10rem 10rem; 
        justify-content: center;
        color: #fff;
        bottom: 10px;
        padding-bottom: 20px;
        font-size: 5rem;
      }

      #try_again{
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        border: 1em black solid;
        background:#020202;
        background-image: url('../Media/Photos/bpmonger.png');
        padding: 12rem 15rem;
        font-family: CaptMarvel;
        font-size: 1.5rem;
        position: relative;
        text-align: center;
        justify-content: center;
        color: white;

       
      }
      #wrap{
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 2rem;
      }
      button{
        margin: 45px 60px;
        position: relative;
       flex-direction: column;
        border-radius: 54%;
        padding: 10px; 
        font-style: oblique;
        font-size: 1rem;
        font-weight: 700;
        color: white;
        height: 100px;
        width: 200px;
        align-items: center;
        opacity: 0.9;
        box-shadow: .5px 2px .5px 1px white;
        background: -webkit-linear-gradient(
          130deg,
          #000 12%,
          #010101 46%,
          #020202 100%);
          border: solid .25rem #FFF;
          transition-duration: 0.3s;
          
      }
      #play_button:hover{
        background-color: #020202;
        color:white;
        box-shadow: 1px 2px 1px 1px white;
        transform: scale(2,2);
        border: solid .25rem white; 
        font-family: BP;
      
      } 

   #audio_section{
    display: flex;
    flex-direction: row;
    margin: 1rem .5rem;
    position: relative;
  }
/* .footer-dark {
    padding:5px ;
   background-size: cover;
    background-color:#010101;
  }
  
  .footer-dark #multi{
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark #foot1{
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark #foot1 .foot_link{
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark #foot1 .foot_link:hover {
    opacity:0.8;
    color:#D81159
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  

  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }

  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  } */
  
